*{
	margin: 0;
	padding: 0;
	font-family: "Open Sans",sans-serif;
}
body{
	background:#1d1d1d;
}
.clearfix:before,.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
.clearfix{
	*zoom:1;
}
.clearfix>div{
	float: left;
	width: 50%;
	height: 100%;
}
header,.main,footer{
	width: 1170px;
	margin: 0 auto;
	position: relative;
}
img{
	width: 100%;
	height: 100%;
	display: block;
}
a{
	text-decoration: none;
}
h1,h2,h3,h4,h5{
	font-weight: 300;
}
h2,h3{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 400;
}
/*header*/
header>a{
	display: inline-block;
	background: #E84C3D;
	color: #fff; 
	font-size: 40px;
	padding: 15px 55px;
}
header>nav{
	position: absolute;
	right: 0;
	bottom: 0;
}
header li{
	float: left;
	list-style: none;
}
header li a{
	display: inline-block;
	background: #23AFD2;
	color: #fff;
	font-size: 14px;
	padding: 18px 50px;
	text-transform: uppercase;
}
header li a:hover,header li a.active{
	background: #189FC3;
}
/*.banner*/
.banner{
	max-width: 1460px;
	margin: 0 auto;
	position: relative;
	height: 553px;
}
.banner>div{
	position: absolute;
	background: #E84C3D;
	display: inline-block;
	padding: 20px 30px;
	text-transform: uppercase;
	bottom: 0;
	left:145px;
	color: #fff;
}


/*footer*/
footer{
	height: 100px;
	color: #fff;
}
.f_l{
	display: table;
	height: 100%;
}
.f_l p{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.f_r{
	background: #23AFD2;
	height: 100%;
	box-sizing:border-box;
	padding: 20px 30px;

}
.f_r p{
	color: #06596e;
	text-transform: uppercase;
}