/*main*/
.main div{
	box-sizing:border-box;
}
.m_l_t,.m_r_b{
	height: 670px;
}
.m_l_b,.m_r_t{
	height: 211px;
}
.m_l_b_l{
	background: #E84C3D;
}
.m_l_b_r,.m_r_t_l{
	background: #fff;
	padding: 0 30px;
}
.m_r_t_r{
	background: url(../img/contact.jpg) no-repeat center;
}
.m_r_t_r>div{
	background: rgba(76, 219, 255, 0.55);
	height: 100%;
	padding: 30px;
}
.m_r_b{
	padding: 0 100px;
	background: #363636;
	display: flex;
	align-items:center;
}
.m_r_b>form{
	width: 100%;
}
.m_r_b div{
	width: 100%;
	margin-bottom: 15px;

}
.m_r_b input,.m_r_b textarea,.m_r_b button{
	width: 100%;
	display: block;
	box-sizing:border-box;
}
.m_r_b input,.m_r_b textarea{
	padding: 6px 12px;
	background: transparent;
	border-color: #7A7A7A 1px solid;
}
.m_r_b button{
	background: #23AFD2;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 6px;
}