/*main*/
.main ul{
	position: absolute;
	top: 0;
	right: 0;
}
.main li{
	display: inline;
}
.main li a{
	display: inline-block;
}
.main>div{
	width: 50%;
	float: left;
}
.main_left>div{
	position: relative;
}


.m_l_1>div{
	float: left;
	height: 220px;
	width: 50%;
}
.m_l_1_l{
	box-sizing:border-box;
	background: #fff;
	padding: 50px 30px 30px 30px;
	position: relative;
}
.m_l_1_l>h2,.m_l_3_l>h2{
	text-transform: uppercase;
	color: #4F4F4F;
	margin-bottom: 10px;
}
.m_l_1_l p{
	color: #B0B0B0;
}
.m_l_1_r{
	position: relative;
	width: 50%;
}
.m_l_1_r img.m_l_1_r_img1{
	position: absolute;
	left:0;
	top: 50%;
	margin-top: -12px;
}
.m_l_2{
	height: 450px;
	position: relative;
}
.m_l_2>div{
	position: absolute;
	left: 0;
	bottom: 0;
	background: #E84C3D;
	display: table;
	padding: 0 25px;
	width: 110px;
	height: 220px;
	color: #fff;
}
.m_l_2>div>p{
	display: table-cell;
	vertical-align: middle;
}
.m_l_3>div{
	width: 50%;
	height: 220px;
	float: left;
}
.m_l_3_l{
	box-sizing:border-box;
	background:#fff;
	position: relative;
	padding: 50px 30px 30px 30px;
}

.m_r_1{
	background: url(../img/home-2.jpg) no-repeat center;
	height: 440px;
	position: relative;
}
.m_r_1>div{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -110px;
	background: #23AFD2;
	display: table;
	padding: 0 25px;
	width: 110px;
	height: 220px;
	color: #fff;
}
.m_r_1>div>p{
	display: table-cell;
	vertical-align: middle;
}

.m_r_2>div{
	float: left;
	position: relative;
	width: 50%;
	height: 450px;
}

.m_r_2_l{
	box-sizing:border-box;
	background:#fff;
	position: relative;
	padding: 60px 40px 40px 40px;
}
.m_r_2_l>a,.m_r_2_r_b>a{
	display: inline-block;
	padding: 10px 20px;
	background: #23AFD2;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.m_r_2_l>a{
	position: absolute;;
	bottom: 0;
	left: 10%;
}
.m_r_2_r{
	width: 50%;
}
.m_r_2_r_t{
	background: url(../img/home-4.jpg) no-repeat center;
	height: 225px;
}
.m_r_2_r_b{
	height: 225px;
	padding: 30px;
	background: #262626;
	box-sizing:border-box;
}
.m_r_2_r_b>h2{
	text-transform: uppercase;
	margin-bottom: 10px;
	color:#7A7A7A;
}
.m_r_2_r_b>a{
	margin-top: 15px;
}

.m_link{
	position: absolute;
    top: 10px;
    right: 10px;
}
.m_link i{
	background: #c7c7c7;
  	margin-right: 5px;
  	padding: 6px 0;
  	color: #fff;
  	border-radius: 50%;
  	width: 25px;
  	height: 25px;
  	text-align: center;
  	box-sizing:border-box;
}
.m_link i:hover,
.m_link i:focus{
	background: #E84C3D;
}