.projects{
	margin: 2em 0;
}
.pr-content-details>img{
	width: 100%;
}
.projects-navbar{
	border-top: 2px solid #cccccc;
}
.projects-navbar ul{
	text-align: center;
}
.projects-navbar li{
	display: inline-block;
}
.projects-navbar a{
	font-size: 2em;
	display: block;
	padding: 0.5em 1em;
}
.projects-navbar a:hover,.projects-navbar a.active{
	background: #cccccc;
}
.pr-content-details>h3{
	text-align: center;
	font-size: 1.5em;
	margin: 1em 0;
}
.pr-content-details>h2{
	text-align: center;
	font-size: 2em;
	font-weight: 900;
	margin: 1em 0;
	color: 
}
.pr-content-fn h3{
	font-size: 1.5em;
	margin: 15% 0 1em 2em;
	color: #ffffff;
	padding-bottom: 0.5em;
	border-bottom: 2px solid #eeeeee;
}
.pr-content-fn p{
	padding-left: 3em;
	color: #666666;
}
.fn-1{
  background: #d7cfbf;
}
.fn-2{
  background: #c1bec9;
}
.fn-3{
  background: #95aeb1;
}
.fn-4{
  background: #67a6ee;
}
.fn-5{
	background: #aca5c1;
}
.fn-6{
	background: #a2aabd;
}
.fn-7{
	background: #35497b;
}
.pr-content-details table td{
	border: 1px solid #000000;
}