html body{
	margin: 0;
	padding:0;
}
div.container{
	border: 1px solid #999;
	background: #eee;
	padding: 20px;
	overflow: hidden;
	min-width: 550px;
}
div.team_name{
	width: 200px;
	background: #fff;
	border: inherit;
	float: left;
	
}
div.team_name img{
	width: 80px;
	height: 80px;
	float: left;
	margin: 20px;
	border: 1px solid #999;
}
div.team_name span{
	font-weight: bold;
	display: block;
	margin-top: 20px;
	
}

div.team_members{
	width: 120px;
	float: right;
	background: #fff;
	border: inherit;
	
}
div.team_members img{
	width: 80px;
	height: 80px;
	margin: 20px;
	display: block;
	border: 1px solid #999;
}

div.team_info{
	padding:20px;
	border-left:1px #eee solid;
	border-top:1px #eee solid;
	border-right:2px #999 solid;
	border-bottom: 2px #999 solid;
	margin-left: 220px;
	margin-right: 140px;
	background: #fff;
}
div.team_info img{
	width: 50%;
}