html,body{
	margin: 0;
}
#main{
	background: url("images/river.jpg") no-repeat center center;
	width: 1200px;
	height: 700px;
	margin: 0 auto;
	position: relative;
}
.logo{
	float: left;
	width: 107px;
	height: 53px;
	background: url("images/logo.png") no-repeat center center;
	margin: -4px 18px 0 0;
}
.search-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#main form{
	float: left;
	height: 29px;
	padding: 5px;
	background-color: #fff;
}
#input-text{
	border: 0;
	padding: 0;
	float: left;
	width: 350px;
	height: 25px;
	line-height: 25px;
	font-size: 25px;
	outline: none;
}
#input-submit{
	float: left;
	border: 0;
	padding: 0;
	cursor: pointer;
	width: 29px;
	height: 29px;
	background: url("images/search-button.png") no-repeat center center;
}

#input-submit{

}

.suggest{
	width: 388px;
	background-color: #fff;
	border: 1px solid #999;
	cursor:pointer;
}
ul{
	list-style: none;
	margin: 0;padding: 0;
}

ul li{
	padding: 5px;
}
ul li:hover{
	text-decoration:underline;
	background-color: #ccc;
}